[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
msedge-selenium-tools = "*"
selenium = "==3.141"
requests = "*"
beautifulsoup4 = "*"
ipykernel = "*"
http-request-randomizer = "*"
nbconvert = "*"

[requires]
python_version = "3.8"
